<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace = "layout :: header">

<body>


<nav th:replace = "layout :: navbar"></nav>

	<div class="container">
		<form action="/projects/save1" th:object = "${employee}" method="POST">
		<input type="text" placeholder="Employee Name" th:field = "${employee.firstName}">
		<input type="text" placeholder="Employee Email" th:field = "${employee.email}">
		
		
		<button type="submit">Create Employee</button>
		</form>
	</div>
	
</body>

</html>