<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment = "header">
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <form action = "/project/save"  method = "POST">
	
		<input type="text" placeholder="Project Name" >
		
		<select>
		
			<option "NOTSTARTED">Not Started </option>
			<option "INPROGRESS">In Progress </option>
			<option "COMPLETED"> Completed   </option>
			
		</select>
    

</head>

<body>

</body>

</html>
